body {
  background: url(../img/ramka.gif) white repeat-y left fixed;
}

h4 {
  text-align: center;
  font-weight: 700;
}
a{
  display: block; text-align: right
}
.first h4{
  font-style: italic;
}
.second h4 {
  font-style: italic;
}

.first{
  display: inline-block;
  margin: 100px 20px 20px 20px;
  padding: 10px;
  position: absolute;
  border: 5px double red;
  height: 120%;
  text-indent: 15px;
  overflow: auto;
  background: url(../img/bg_menu.gif) rgb(255, 204, 153) repeat-x fixed;
}
.second {
  display: inline-block;
  margin: 100px 20px 20px 20px;
  padding: 10px;
  position: absolute;
  border: 5px double red;
  height: 120%;
  text-indent: 15px;
  overflow: auto;
  background: url(../img/bg_menu.gif) rgb(255, 204, 153) repeat-x fixed;
}

.first {
  background-position: center;
  width: 600px;
  left: 200px;
}

.second {
  background-position: top;
  left: 840px;
  width: 400px;
}