

body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .block {
    box-sizing: border-box;
    padding: 20px;
    margin: 10px;
    text-align: center;
  }
  
  .block1 {
    order: 1;
    width: 100%;
    background-color: #3498db;
    color: #fff;
  }
  
  .block2 {
    order: 2;
    width: 30%;
    align-self: center;
    background-color: #2ecc71;
    color: #fff;
  }
  
  .block3 {
    order: 5;
    width: 100%;
    background-color: #e74c3c;
    color: #fff;
  }
  
  .block4 {
    order: 3;
    width: 30%;
    align-self: center;
    background-color: #f39c12;
    color: #fff;
  }
  
  .block5 {
    order: 4;
    width: 30%;
    align-self: flex-end;
    background-color: #9b59b6;
    color: #fff;
  }
  
  @media (max-width: 768px) {
    .block2, .block4, .block5 {
      width: 100%;
    }
  }
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
}
@font-face {
    font-family: 'Waterfall';
    src: local('Waterfall'), url('../lab9Rohiv/Waterfall/Waterfall-Regular.ttf') format('woff');
  }
  